body {
  background: #F0F2F5;
  margin: 0;
  font-family: "PingFangSC-Medium", "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}


ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 滚动条 */
*::-webkit-scrollbar {
  height: 6px;
  background-color: #e9e9e9;
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-color: #cecdcd;
}